<p><%= @restaurant.name %></p>
<p><%= @restaurant.description %></p>
Address: <%= @restaurant.street %>, <%= @restaurant.city %>, <%= @restaurant.state %>
<div id='map'></div>
<h3>Reviews for <%= @restaurant.name %></h3>
<% if @restaurant.reviews.any? %>
	<ul>
		<% @restaurant.reviews.each do |review| %>
		  <li>
				<%= review.thoughts %>, <strong><%= review.rating %></strong>/5
			</li>
		<% end %>
	</ul>
<% else %>
	<p>No reviews.</p>
<% end %>

<script>
	var map, marker;
	// function initialize() {
	// 	addressInput = { lat: 40.680898, lng: -8.684059}
	// 	var mapOptions = {
	// 		zoom: 4,
	// 		center: addressInput
	// 	}
	// 	map = new google.maps.Map(document.getElementById("map"), mapOptions);
	//
	// 	// marker = new google.maps.Marker({
	// 	// 		position: myLatlng,
	// 	// 		title:"Hello World!"
	// 	// });
	// 	//
	// 	// // To add the marker to the map, call setMap();
	// 	// marker.setMap(map);
	// 	// google.maps.event.addDomListener(window, "load", searchAddress);
	// }

	function searchAddress() {
		var addressInput = '<%= @restaurant.street %>, <%= @restaurant.city %>, <%= @restaurant.state %>'
		var geocoder = new google.maps.Geocoder();
		geocoder.geocode({ address: addressInput }, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				var myResult = results[0].geometry.location;
				var mapOptions = {
					zoom: 4,
					center: addressInput
				}
				map = new google.maps.Map(document.getElementById("map"), mapOptions);
				createMarker(myResult);
				map.setCenter(myResult);
				map.setZoom(17);
			}
		})
	}

	function createMarker(latlng) {
		if (marker != undefined && marker != '') {
			marker.setMap(null);
			marker = '';
		}

		marker = new google.maps.Marker({
			position: latlng,
			map: map
		})
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=searchAddress" async defer></script>
